
<div class="container">
<div class="row" id="todo-list">


<table align="center", class="table table-bordered ">

 <tbody>
 <tr>
    <td></td>
    <td></td>
    <td>Task</td>
    <td>Due Date</td>
    <td>Details</td>
    <td>Edit</td>
    <td>Delete</td>
 </tr>


        <% @todos.each do |todo| %>


             <tr>
                <th scope="row"></th>

                 <td><%= check_box("tag", tag.id) %></td>

                 <td><%= todo.name %></td>
                 <td><%= todo.due_date%></td>

                 <td><%= link_to '<span class="glyphicon glyphicon-list-alt"></span>'.html_safe, todo_path(todo), class: "btn btn-default" %></td>
                 <td><%= link_to '<span class="glyphicon glyphicon-edit"</span>'.html_safe, edit_todo_path(todo), class: "btn btn-default" %></td>
                 <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, todo_path(todo),method: :delete, data:{ confirm: "Are you sure ?"}, class: "btn btn-default" %></td>
           </tr>
        <% end %>
        </tbody>
      </table>

    </div>
   </div>

<div>
<td><%= link_to 'New Task', new_todo_path, class: "btn btn-primary" %></td>
</div>
